/* ---------------------- Reset --------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  margin: 0 2rem;
}

@media screen and (min-width: 440px) {
  .container {
    margin: 0 2.5rem;
  }
}

@media screen and (min-width: 760px) {
  .container {
    margin: 0 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    margin: 0 2.5rem;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    margin: 0 5rem;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    margin: 0 auto;
    max-width: 1760px;
  }
}

body {
  background-color: var(--color-002-gray);
}

/*----------------------- Root ------------------------ */

:root {
  --color-001-black: #010205;
  --color-002-gray: #eeeff2;
  --color-003-green: #e4ffec;
  --color-004-white: #fff;
  --color-005-darkgray: #dcdcdc;
  --color-006-border: #6c6d70;
}

/* -------------------- Typography ---------------------- */

body {
  font-size: 62.5%;
  /* font-family: Arial, Helvetica, sans-serif; */
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}
p {
  font-size: 1.6rem;
}

/*--------------------- Header ------------------------- */

header {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  height: 12px;
}

.header__logo {
  width: 90px;
  margin-left: 35px;
}

.logo__1 {
  display: none;
}

.header__logo:hover {
  cursor: pointer;
}

.menu {
  padding: 10px;
  border-radius: 6px;
}

.header__right__icon {
  height: 36px;
  padding: 10px;
  border-radius: 6px;
}

.menu:hover,
.header__right__icon:hover {
  transition: all 0.2s;
  cursor: pointer;
  background-color: var(--color-005-darkgray);
}

.menu__text {
  display: none;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 480px) {
  header {
    height: 88px;
  }

  .menu__text {
    display: block;
    margin-left: 15px;
    font-size: 1.1rem;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__logo {
    width: 90px;
    margin-left: 0px;
    margin-right: 40px;
  }

  @media screen and (min-width: 760px) {
    header {
      height: 73px;
      overflow: hidden;
    }

    .logo__2 {
      display: none;
    }

    .logo__1 {
      display: block;
      width: 100%;
      height: 150px;
      position: relative;
      right: 13px;
    }
  }

  @media screen and (min-width: 1000px) {
    header {
      height: 76px;
      overflow: hidden;
    }
  }

  @media screen and (min-width: 1300px) {
    header {
      height: 82px;
      overflow: hidden;
    }
  }
}

/* ------------------------------ Title ------------------------------ */

.title {
  margin-top: 4rem;
}

form {
  display: none;
}

.title h1 {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.title__text__above {
  display: flex;
  align-items: center;
}

.title__text__above__short {
  font-size: 1rem;
  color: var(--color-001-black);
}

.title__text__above img {
  width: 15px;
  margin-right: 10px;
}

.title__text__above__long {
  display: none;
}

.title__text__above__short:hover,
.title__text__above__long:hover {
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .title h1 {
    font-size: 1.8rem;
  }

  .title__text__above__short {
    display: none;
  }

  .title__text__above__long {
    display: block;
    font-size: 1rem;
    color: var(--color-001-black);
  }
}

@media screen and (min-width: 760px) {
  .title {
    margin-top: 6rem;
  }

  .title h1 {
    margin-top: 1.7rem;
    font-size: 2.4rem;
  }

  form {
    display: block;
  }

  label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  .title input {
    background-color: var(--color-002-gray);
    outline: none;
    border: 2px solid var(--color-006-border);
    border-radius: 4px;
    padding: 1rem;
    width: 37vw;
    max-width: 504px;
  }

  .title button {
    background-color: var(--color-001-black);
    color: var(--color-004-white);
    padding: 1rem 2rem;
    border-radius: 5px;
    height: 52px;
    margin-left: 0.7rem;
  }

  .title button:hover {
    background-color: #010205b9;
    transition: all 0.25s;
    cursor: pointer;
  }

  .form__search__container {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1000px) {
    .title input {
      width: 32vw;
    }
  }

  @media screen and (min-width: 1300px) {
    .title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .title input {
      width: 20vw;
      max-width: 408px;
    }

    .title h1 {
      margin: 0px;
      margin-top: 4rem;
      font-size: 3rem;
    }
  }
}

/* ---------------------------------- Main Section ---------------------------------- */

.main__filter button {
  margin-top: 0.5rem;
  width: 100%;
  background-color: var(--color-004-white);
  padding: 0.8rem 1rem;
  outline: none;
  border: 2px var(--color-001-black) solid;
  border-radius: 4px;
  font-size: 1rem;
}

.main__filter button::before {
  background-image: url("../assets/images/icons8-filter-100.png");
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.8rem;
  content: "";
}

.main__sidebar {
  display: none;
}
@media screen and (min-width: 760px) {
  .main__filter p {
    width: 100%;
    border-top: 1px solid var(--color-005-darkgray);
    margin: 2rem 0rem;
  }

  @media screen and (min-width: 1000px) {
    .main {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: 320px 1fr;
      column-gap: 2rem;
    }
  }
}

.cards-section {
  margin-top: 2rem;
}

.card-section__row1,
.card-section__row2,
.card-section__row3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1rem;
}

.card-section__card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-section__card .card__image__1 {
  position: absolute;
  display: block;
  opacity: 0;
  background-color: white;
}

.card-section__card:hover {
  .card__image__1 {
    opacity: 1;
    transition: 1.5s all;
  }
}

.card-section__card {
  background-color: var(--color-004-white);
  border-radius: 10px;
  padding-bottom: 0.3rem;
}

.card-section__padding {
  margin: 0rem 1.5rem;
}

.card-section__margin {
  margin: 0rem 0.3rem;
}

.main .arrow img {
  width: 20px;
  rotate: 180deg;
}

.card__image__1,
.card__image__2 {
  width: 100%;
}

.card__image__1 {
  display: none;
}

.card__title__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__color__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__color__section:hover {
  cursor: pointer;
}

.card__description__section {
  position: relative;
  padding: 1rem;
  background-color: var(--color-002-gray);
  display: grid;
  border-radius: 8px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: start;
}

.card__description__section:hover {
  background-color: var(--color-005-darkgray);
}

.card__description__section p {
  font-size: 0.7rem;
}

.card__description__title {
  grid-column: 1/-1;
}

.card__description__title__main {
  display: flex;
  align-items: center;
}

.card__description__last {
  grid-column: 1/-1;
}

.card__description__main__title {
  display: flex;
  align-items: center;
}

.card__title__section__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card__title__section__description {
  font-size: 1rem;
  color: var(--color-006-border);
}

.card__color__section {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-005-darkgray);
}

.card__color__section__container h2 {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 2.5rem;
}

.card__color__section__color1 {
  position: absolute;
  left: 40px;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid var(--color-004-white);
}

.card__color__section__color2 {
  position: absolute;
  left: 30px;
  background-color: rgb(164, 196, 184);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid var(--color-004-white);
}

.card__color__section__color3 {
  position: absolute;
  left: 20px;
  background-color: rgb(188, 169, 172);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid var(--color-004-white);
}

/* ---------------------- other cards color ---------------------------- */
.color--1 {
  background-color: #355e88;
}

.color--2 {
  background-color: #94839c;
}

.color--3 {
  background-color: #c4cdd3;
}

.color--4 {
  background-color: #484c3c;
}

.color--5 {
  background-color: #dfe2e9;
}

.color--6 {
  background-color: #343c44;
}

.color--7 {
  background-color: #484c3c;
}

.color--8 {
  background-color: #343c44;
}

.color--9 {
  background-color: #a5c3b8;
}

.color--10 {
  background-color: #a5c3b8;
}

.color--11 {
  background-color: #5c747c;
}

.color--12 {
  background-color: #000000;
}

.color--13 {
  background-color: #efefef;
}

.color--14 {
  background-color: #5c747c;
}

.color--15 {
  background-color: #524486;
}

.color--16 {
  background-color: #a4c4b8;
}

.color--17 {
  background-color: #c3cdd3;
}

.color--18 {
  background-color: #efefef;
}

.color--19 {
  background-color: #345e88;
}

.color--20 {
  background-color: #990033;
}

.color--21 {
  background-color: #c7c7bf;
}

.color--22 {
  background-color: #dfe2e9;
}

.color--23 {
  background-color: #00194b;
}

.color--24 {
  background-color: #c7c7bf;
}

.color--25 {
  background-color: #484c3c;
}

.color--26 {
  background-color: #94849c;
}

.color--27 {
  background-color: #dfe2e9;
}

.color--28 {
  background-color: #94839c;
}

.color--29 {
  background-color: #a5c3b8;
}
/* --------------------------------------------------------------------- */
.card-section__card .font--bigger {
  font-size: 1.3rem;
  font-weight: normal;
  margin-right: 0.3rem;
}

.card-section__card .font--med {
  font-size: 1rem;
  font-weight: normal;
}

.card-section__card .right-left-margin {
  margin: 0rem 0.3rem;
}

.card__neu {
  padding: 0.3rem;
  width: 40px;
  background-color: var(--color-003-green);
  align-self: flex-end;
  margin-top: 0.7rem;
  margin-right: 1rem;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 7px;
}

.info-icon {
  width: 15px;
  position: absolute;
  top: 21px;
  right: 23px;
}

.card-section__card {
  cursor: pointer;
}

.card-section__card__head {
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
}

.card-section__card__head h2 {
  font-size: 2rem;
}
.card-section__card__head button {
  background-color: var(--color-002-gray);
  outline: none;
  border: solid var(--color-001-black) 1px;
  border-radius: 4px;
  margin-top: 0.5rem;
  padding: 1rem 1rem;
}

.card-section__card__head button::before {
  background-image: url(../assets/images/double-arrow-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  display: inline-block;
  width: 23px;
  height: 13px;
  content: "";
}

.card-section__card__head button:hover {
  cursor: pointer;
  background-color: var(--color-005-darkgray);
  transition: all 0.3s;
}

.card-section__row2 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.card-section__row3 {
  margin-top: 2rem;
}

.unique--card {
  background-image: url(../assets/images/10-gallery.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding: 0rem;
}

.unique--card__image {
  width: 100%;
  margin-bottom: 0.5rem;
}

.unique--card__container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--color-004-white);
  position: relative;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(68, 67, 61, 1) 80%
  );
}

.unique--card__description,
.unique--card__title {
  padding: 0rem 2rem;
}

.unique--card__title {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.unique--card__description p {
  padding-top: 1rem;
  border-top: 1px solid var(--color-004-white);
  font-size: 1rem;
  margin-bottom: 2rem;
}

.unique--card__pop {
  color: var(--color-001-black);
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.4rem 0.5rem;
  border-radius: 4px;
  background-color: white;
}

.card-section__row3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  margin-bottom: 2rem;
}

.card-section__row3 .card-section__card__head {
  margin-top: 2rem;
  margin-bottom: 0rem;
}

@media screen and (min-width: 1000px) {
  .card-section__row1,
  .card-section__row2,
  .card-section__row3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .cards-section {
    margin-top: 0rem;
  }

  .card-section__card__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/-1;
  }

  .card-section__card__head button {
    margin-top: 0rem;
    padding: 0.7rem 1rem;
  }
}

@media screen and (min-width: 1760px) {
  .card-section__row1,
  .card-section__row2,
  .card-section__row3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }
}

/* ----------------------- Sidebar Section ---------------------- */

@media screen and (min-width: 1000px) {
  .main__filter {
    display: none;
  }

  .main__sidebar {
    min-width: 240px;
    display: block;
    padding: 1rem 1rem 0rem 0rem;
    width: 100%;
    background-color: var(--color-002-gray);
  }

  .main__sidebar__allRow {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .main__sidebar__allRow {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-005-darkgray);
    margin-bottom: 40px;
  }

  .main__sidebar__allRow p {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
  }

  .main__sidebar__row1 p {
    margin-bottom: 0;
  }

  .main__sidebar__row1__container {
    display: flex;
    align-items: center;
  }

  .main__sidebar__row1 label,
  .main__sidebar__row2 label {
    display: inline-block;
  }

  .main__sidebar__row1 input,
  .main__sidebar__row2 input {
    width: 27px;
    height: 27px;
    margin-right: 12px;
    position: relative;
    top: 5px;
    accent-color: var(--color-001-black);
  }

  .main__sidebar__row1__item1::before {
    background-image: url("../assets/images/extcam102\ \(12\).webp");
    background-repeat: no-repeat;
    background-size: 90px;
    display: inline-block;
    width: 90px;
    height: 40px;
    content: "";
    position: relative;
    top: 7px;
  }

  .main__sidebar__row1__item2::before {
    background-image: url("../assets/images/extcam102\ \(13\).webp");
    background-repeat: no-repeat;
    background-size: 90px;
    display: inline-block;
    width: 90px;
    height: 40px;
    content: "";
    position: relative;
    top: 7px;
  }

  .main__sidebar__row1__item3::before {
    background-image: url("../assets/images/extcam102\ \(13\).webp");
    background-repeat: no-repeat;
    background-size: 90px;
    display: inline-block;
    width: 90px;
    height: 40px;
    content: "";
    position: relative;
    top: 7px;
  }

  .main__sidebar button {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid var(--color-001-black);
    border-radius: 4px;
    display: flex;
    justify-content: start;
  }

  .main__sidebar__row6,
  .main__sidebar__row5 {
    border: 0;
  }

  .main__sidebar__row6 button {
    display: flex;
    justify-content: center;
  }

  .main__sidebar button:hover,
  .main__sidebar label:hover,
  .main__sidebar input:hover {
    cursor: pointer;
  }
}

/* ------------------------------- Footer --------------------------------------- */

.footer .max--width {
  max-width: 1650px;
}

.footer {
  background-color: var(--color-001-black);
  color: white;
}

.footer__head {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer h2 {
  font-size: 1.3rem;
  font-weight: normal;
}

.footer__head img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.footer__head__flag-section {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.footer p {
  font-size: 0.9rem;
}

.footer__head a {
  font-size: 0.7rem;
  text-decoration: underline;
  margin-left: 2rem;
  padding: 0.25rem;
  border-radius: 4px;
  color: white;
}

.footer__head a:hover {
  background-color: rgba(57, 57, 57, 0.756);
  transition: all 0.5s;
}

.footer__main__row1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer__main__row1__item {
  margin-bottom: 2rem;
}

.footer__main__row1__item h2 {
  margin-bottom: 0.5rem;
}

.footer__main__row1__item p {
  margin-bottom: 1.5rem;
}

.footer__main__row1__item button {
  width: 100%;
  height: 3rem;
}

.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.social-media-icons img {
  width: 47px;
  height: 47px;
  padding: 0.7rem;
  background-color: white;
  border-radius: 4px;
  margin: 0rem 0.3rem 0.5rem 0rem;
}

.footer__footer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__footer p {
  margin-bottom: 1rem;
}

.footer__footer img {
  width: 150px;
  align-self: center;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.footer button:hover{
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .footer__main__row1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  }

  .footer__main__row1__item {
    margin-right: 2rem;
  }

  .footer__main__row1__item button {
    width: 293px;
    height: 3rem;
  }
}
